{erl_opts, [debug_info]}.

{deps, [
    {gun, "2.0.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [forex_trader]}
]}.

{relx, [{release, {forex_trader, "0.1.0"},
         [forex_trader,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]}]}.